.analyse-container {
    width: 100%;
}

.header {
    width: 100%;
    padding-left: 75px;
    padding-top: 50px;
}
.logo-container .logo {
    width: 250px;
}
.content-container {
    padding-top: 50px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 40px 40px;
    
}
.content-container .one {
    grid-column: 1 span;
    grid-row: 3 span;
}
