.card-container {
    display: flex;
    flex-direction: column;
    grid-column: 3 span;
    box-shadow: 0px 8px 24px -4px rgba(1, 34, 207, 0.2);
    border-radius: 20px;
    align-items: center;
    padding: 30px 50px;
    background-color: #ffffff;

}
.card-container:nth-child(2) {
    margin-right: 20px;
}
.card-container:nth-child(3) {
    margin-left: 20px;
}
.card-container h2 {
    font-size: 1rem;
    font-weight: bold;
}

.card-container .content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.card-container .content .logo {
    width: 60px;
    margin-right: 50px;
}
.card-container .content .twitter {
    width: 80px;
}
.card-container .content .info {
    font-size: 3rem;
    font-weight: 900;
}
