.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 4 span;
    grid-row: 3 span;
    box-shadow: 0px 8px 24px -4px rgba(1, 34, 207, 0.2);
    border-radius: 20px;
}
.status-container .logo-status {
    width: 80px;
}
.status-container .btn {
    background: #61529F;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    padding: 10px 20px;
}